/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}
.link-disabled{
    pointer-events: none;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
/**************Header*********/
header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 100%;
    height: 19px;
    padding: 30px 0;
}
header nav {
    height: 19px;
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

.header-responsive-mobile{
    display: none;
}

.header-desktop{
    padding-top: 16px;
}  

.header-desktop:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/***********info-search************/
.info-search-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 0;
}

.title-accueil{
    display: flex;
    flex-direction: column;
}

.search-bar-desktop form{
    display: flex;
    align-items: center;
}

.search-bar-mobile{
    display: none;
}

#icone-location{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: black;
    border-radius: 16px 0 0 16px;
    background-color: rgb(242, 242, 242,1);
}

.search-bar-desktop input{
    display: flex;
    border:1px solid rgb(242, 242, 242,1);
    height: 48px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.search-bar-desktop ::placeholder{
    color: black;
}

.search-bar-desktop button {
    display: flex;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0 16px 16px 0;
    border: 1px solid #0065FC;
    height: 48px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 16px;
}

.filter-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.filter-bar input[type="checkbox"]{
    display: none;
}

.filter-bar label {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50px;
    padding: 0 20px;
    font-weight: bold;
    text-align: center;
}

.filter-bar input[type="checkbox"]:hover + label{
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
}

.info-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

a {
    color: inherit;
    text-decoration: none;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hebergements h2{
    margin-bottom: 16px;
}

.card-hebergements-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.card-hebergements {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    border: 3px solid white;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.card-hebergements img {
    width: 240px;
    height: 112px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.card-content h3,
.card-content p {
    margin-top: 4.8px;
    margin-bottom: 4.8px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******Activites******/

.activites {
    margin: 29px;
}

.cards-activites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
}

.cards-activites{
    width: 100%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 16px;
}

.cards-activites img{
    width: 296px;
    height: 368px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.cards-activites h3{
    padding: 0 11.2px 22.4px 11.2px;
}

/******Footer******/

footer{
    background-color: var(--main-bg-color);
    display: flex;
}
.footer-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    gap: 2.4px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    *{
        
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .cards-activites{
        width: 100%;
    }


    .cards-activites img {
        width: 177.9px;
        height: 192px;
    }

    .cards-activites {
        height: 268.8px;
    }

    .cards-activites h3 {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    *{
        
    }

    .main-container{
        padding: 0;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 80px;
        height: 25.6px;
    }

    header nav{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-bottom: 16px;
        border-bottom: 3px solid var(--main-bg-color);
        gap: 0px;
    }

    .header-desktop{
        display: none;
    }

    .header-responsive-mobile{
        display: block;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-bottom: 34px;
        
    }  
    
    .header-responsive-mobile:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        
    }

    .info-search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;
        margin: 24px;
    }

    .search-bar-desktop{
        display: none;
    }

    .search-bar-mobile{
        display: flex;
    }

    .search-bar-mobile form{
        display: flex; 

        align-items: center;
        border-top: 2px solid rgba(242, 242, 242,1);
        border-bottom: 2px solid rgba(242, 242, 242,1);
        border-radius: 18px ;
    }

    #icone-location-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        color: black;
        border-radius: 16px 0 0 16px;
        background-color: rgb(242, 242, 242,1);
    }

    .search-bar-mobile input{
        display: flex;
        border: none;
        height: 48px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    
    .search-bar-mobile ::placeholder{
        color: black;
    }
    
    #icone-location-mobile{
        border: 3px solid rgba(242, 242, 242,1);
        border-radius:  16px 0 0 16px;
    }

    #icon-mobile{
        border: 18px solid #0065FC;
        border-radius: 16px;
        color: white;
        
    }


    .search-bar-mobile button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        color: white;
        border-radius: 16px;
        border: 3px solid #0065FC;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
        width: 50px;
        height: 50px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 16px;
    }
}