/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
.link-disabled{
    pointer-events: none;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    font-size: 16px;
}

h3{
    font-size: 1rem;
}
a {
    color: inherit;
    text-decoration: none;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-subtitle{
    font-size: 14px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
/**************Header*********/
header{
    display: flex;
    justify-content: space-between;
}
header img{
    padding: 27px 50px;
    width: 25%;
}
header nav {
    height: 19px;
    display: flex;
    justify-content: space-between;
    gap: 68px;
    padding: 0 50px;
}
header nav a{
    padding: 16px 0 0 0;
}  
header nav a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding: 13px 0 0 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    padding: 40px 50px 0 50px;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/***********info-search************/
.info-search-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.accueil-title {
    margin: 0;
    font-size: 22px;
}
.section-title{
    display: flex;
    flex-direction: column;
}
.section-title h1{
    font-size: clamp(20px, 4vw, 30px );
}
/***********Search-Bar************/
.search-bar form{
    display: flex;
    align-items: center;
}
#icone-location-mobile, #icon-mobile, #button-mobile{
    display: none;
}
#icone-location{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: black;
    border-radius: 16px 0 0 16px;
    background-color: rgb(242, 242, 242,1);
}
.search-bar input{
    display: flex;
    border:1px solid rgb(242, 242, 242,1);
    height: 48px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.search-bar ::placeholder{
    color: black;
}
.search-bar button {
    background-color: #0065FC;
    color: white;
    border-radius: 0 16px 16px 0;
    border: 1px solid #0065FC;
    height: 48px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 13px 16px;
}
/***********Filter-Bar************/
.filter{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.filter-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}
.filter-bar input[type="radio"]{
    display: none;
}
.filter-bar label {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
}
.filter-bar input[type="radio"]:hover + label{
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
}
/***********Info-Bar************/
.info-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.info-bar span{
    border: 1px solid rgb(214, 214, 214);
    padding: 2px 10px;
    border-radius: 50%;
    font-family: serif;
    color: #0065fc;
    font-size: 20px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hebergements h2{
    margin-bottom: 16px;
}
.cards-hebergements-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cards-hebergements {
    display: flex;
    width: 100%;
    height: 220px;
    padding: 3px 3px 3px 3px;
    gap: 7px;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.cards-hebergements img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card-content {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 8px;
}
.card-content h3,
.card-content p {
    margin: 0px;
   
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
} 
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/******Activities******/
.activities{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.activities h2{
    font-size: 22px;
    margin: 0;
}
.cards-activities-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 30px;
}
.cards-activities{
    width: 100%;
    height: 440px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}
.cards-activities img{
    width: 100%;
    height: 368px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.cards-activities-content{
    display: flex;
    align-items: center;
    padding: 20px 19px;
}
.cards-activities h3{
    margin: 0;
}
/******Footer******/
footer{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 16px 16px 16px;
}
footer h3{
    font-weight: bold;
    font-size: 1.1rem;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter{
        flex-direction: column;
        gap: 5px;
    }
    h3{
        font-size: 0.9rem;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards .card{
        margin-top: 10px;
        height: 135px;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .cards-activities{
        display: flex;
        flex-direction: column;
        height: 270px;
    }
    .cards-activities img{
       height: 200px;
    }
    .cards-activities-content{
        height: 35px;
    }
    .cards-activities h3{
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body{
        min-width: 320px;
    }
    .main-container{
        flex-direction: column;
        padding: 0;
    }
    header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    header img {
        width: 80px;
    }
    header nav{
        width: 100%;
        padding: 0 0 16px 0;
        border-bottom: 3px solid var(--main-bg-color);
        gap: 0px;
    }
    header nav a{
        display: block;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 0 0 34px 0;
    }  
    header nav a:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding: 0 0 34px 0;
    }
    .section-title{
        margin-top: 30px;
    }
    .info-search-container {
        gap: 35px;
        padding: 0 15px;
    }
    .search-bar{
        display: flex;
        width: 100%;
    }
    #icone-location, .search-bar input + button{
        display: none;
    }
    .search-bar form{
        display: flex; 
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid rgba(242, 242, 242,1);
        border-bottom: 2px solid rgba(242, 242, 242,1);
        border-radius: 18px ;
    }
    #icone-location-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height:53px;
        color: black;
        background-color: rgb(242, 242, 242,1);
        border-radius:  16px 0 0 16px;
        font-size: 20px;
    }
    .search-bar input{
        font-weight: bold;
        width: 100%;
        border: none;
    }
    .search-bar ::placeholder{
        color: black;
    }
    #icon-mobile{
        border: 13px solid #0065FC;
        border-radius: 20px;
        color: white;
        display: inline;
    }
    #button-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        color: white;
        border-radius: 16px;
        border: 3px solid #0065FC;
        box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.3);
        width: 50px;
        height: 53px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 16px;
    }
    .filter-bar{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 15px;
    }
    .filter-bar label{
        justify-content: center;
        width: auto;
        gap: 5px;
        padding: 10px 10px;
        font-size: 15px;
    }
    .filter-bar i{
        font-size: 25px;
    }
    .hebergements-and-populaires section{   
        gap: 16px;
    }
    .hebergements-and-populaires .populaires{
        margin-top: 0;
        border-radius: 0;
    }
    .populaires-cards a, .cards-hebergements-container a{
        width: 100%;
    }
    .populaires-cards{
        flex-direction: column;
        width: 100%;
    }
    .populaires-cards img{
        width: 80px;
        height: 135px;
    }
    .hebergements-and-populaires .hebergements{
        order: 2;
        flex-direction: column;
        background-color: white;
    }
    .cards-hebergements-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;  
    }
    .cards-hebergements, .cards-activities{
        height: 320px;
    }
    .cards-hebergements img, .cards-activities img{
        height: 220px;
    }
    .cards-activities-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
   .cards-activities h3{
    padding-top: 20px;
   }
    footer{
        flex-direction: column;
        width: 100%;
    }
}